body {
    margin: 0;    
    padding: 0;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #eee;    
}

html {    
    font-size: 100%;
}

header {
    margin: 0 auto;
    max-width: 1400px;  
    display: flex;    
    justify-content: space-between;
    align-items: center;    
    padding-top: 3%;
    padding-bottom: 4%;    
}

p {
    margin:0 0;        
}

h2 {
    margin:0;
}

a {
    text-decoration: none; 
    color: #000; 
}

.container {
    margin: 0 auto;
    max-width: 1400px;    
}

.header__title {    
    font-style: italic;
    text-decoration: none; 
    color: #000;
    font-size: 3.5rem;      
    letter-spacing: 0.125rem;
}

.header__nav {     
    display: flex;
    justify-content: space-between;        
}

.header__nav-link {    
    font-size: 1.250rem;
    font-weight: bold;
    color: #000;    
    text-transform: uppercase;
}

.header__nav-link:not(:last-child) {
    margin-right: 1rem;
}

.header__nav-link-a:hover {
    color: #BDBDBD;
}

.page__article {
    margin-bottom: 3.75rem;
}

.article {     
    padding: 0 9%;
    position: relative;   
    box-shadow: -0.06rem 0 0.81rem 0.19rem rgba(34, 60, 80, 0.2);
    background-color: #fff;        
}

.article__bookmark {    
    padding: 0.4rem;
    position: absolute;
    margin-top: 1.5rem;    
    right: -0.81rem;    
    background-color: #5C6BC0;
    color: #fff;
    font-size: 0.88rem;   
}

.article__date {
    padding-top: 4rem;    
    font-size: 1.125rem;
    font-weight: bold;
    color: #BDBDBD;
}

h2 {
    margin-top: 2%;
    font-size: 3.5rem;    
    font-weight: bolder;
    word-spacing: 0.2rem;   
    padding-bottom: 5%;
    border-bottom: #eee 0.25rem solid;
}

.article__text {
    padding-top: 2.5rem;
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: grey;
}

.article__links {   
    padding: 5rem 0;
    display: flex;    
    justify-content: space-between;
    align-content: center;
}

.article__link {
    font-size: 1.3rem;
    font-weight: bold;
    color: #5C6BC0;
    text-decoration: none;
    text-transform: uppercase;
}

.article__link:hover {       
    outline: 0.125rem solid rgba(92,107,192,0.2);
    outline-offset: 0.5rem;   
}

.article__link:active {  
    outline: 0.125rem solid rgba(92,107,192,0.8);
    outline-offset: 0.5rem;    
}

.article__hashtag {
    font-size: 0.88rem;
    text-decoration: none;
    color: #BDBDBD;
}

.article__hashtag:hover {
    text-decoration: underline;
    color: blue;
}

.article__hashtag:active {
    text-decoration: none;    
    color: blue;
}

.mountain__photo {
    margin-bottom: -0.5rem;
    width: 100%;
}

.article__italic-text {
    padding-top: 2.5rem;
    font-size: 2.06rem;
    font-weight: 400;
    font-style: italic;
    line-height: 3rem;
    color: #BDBDBD;
}

footer {
    margin: 0 auto;
    max-width: 1400px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5C6BC0;    
}

.footer__copyright {
    max-width: 75%;
    margin: 3.75rem 0 1.88rem 0;
    color: #BDBDBD;
    font-size: 1rem;
    text-align: center;
}

.footer__buddha {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
}

.footer__social {
    width: 10%;
    display: flex;
    justify-content: space-between;    
    margin-bottom: 3.75rem;    
}

.footer__title {
    height: 100%;     
    font-style: italic;
    font-size: 2rem;    
    letter-spacing: 0.125rem;
    text-align: center; 
    margin: 3.75rem 0;   
    opacity: 0.2;
}

.footer__nav {   
    width: 10%;
    color: #fff;
    display: flex;
    justify-content: space-around;     
}

.footer__nav-link {
    margin-right: 15px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;       
    text-transform: uppercase;
    text-decoration: none;          
}

.footer__nav-link:hover {
    color: #000;
}

.footer__nav-link {
    color: #fff;    
}

.footer__nav-link:hover {
    color: #000;   
}

@media screen and (min-width: 768px) and (max-width:1024px) {
    html { font-size: 100%; }  
    .article__bookmark {
    right: 0;
    }  
}

@media screen and (min-width:481px) and (max-width: 768px) {
    html { font-size: 80%; }  
    .article__bookmark {
    right: 0;
    }
}

@media screen and (min-width:320px) and (max-width: 480px) {
	html { font-size: 60%; }
    header {
        padding: 2%;
    }   
    h2 {
        font-size: 6vw;
    }
    .header__title {
        font-size: 8vw;       
    }
    .footer__social {
        width: 30%;
    }
    .container {
        padding: 0;
    }
    .article__bookmark {
        right: 0;
    }
    .footer__social {      
        margin-bottom: 1.75rem; 
    }
    .footer__title {
        margin: 1.75rem 0;           
    }
    .footer__copyright { 
        margin: 1.75rem 0 1.88rem 0;  
    }
    .page__article {
        margin-bottom: 1.75rem;
    }
    .article__italic-text {
        font-size: 1.5rem;
        line-height: 2.5rem;       
    }
}

@media screen and (min-width:250px) and (max-width: 319px) {
	html { font-size: 60%; }
    header {
        padding: 0;
    }   
    h2 {
        font-size: 6vw;
    }
    .header__title {
        font-size: 8vw;       
    }
    .footer__social {
        width: 30%;
    }
    .container {
        padding: 0;
    }
    .article__bookmark {
        right: 0;
    }
    .footer__social {      
        margin-bottom: 1.75rem; 
    }
    .footer__title {
        margin: 1.75rem 0;           
    }
    .footer__copyright { 
        margin: 1.75rem 0 1.88rem 0;  
    }
    .page__article {
        margin-bottom: 1.75rem;
    }
    .article__italic-text {
        font-size: 1.5rem;
        line-height: 2.5rem;       
    }
}
